{% extends 'base.html' %}
{% block page_title %}
Page Title Comes Here
{%endblock page_title %}

{% block content %}
<main dir="rtl">
  <div
    class="container"
    x-data="sentHook"
    tabindex="0"
    :class="{'edit-mode': isEditMode, 'autopilot-mode' : isAutoPilot}"
  >
    <div
      data-tokens-count="{{ tokens_count }}"
      data-dia-count="{{ total_diacritics }}"
      data-mode = "{{ mode }}"
      class="verse"
    >
      {{ verse | safe}}
    </div>
    <div class="stats">
      <p><span>الحركة: </span><span x-text="currentChar"></span></p>
    </div>
  </div>
</main>
{{ wd_dict|json_script:"wd_dict" }}
{{ char_dict_global|json_script:"char_dict_global" }}
{{ char_dict_local|json_script:"char_dict_local" }}



{% endblock content %}
