{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <style data-merge-styles="true"></style>

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://unpkg.com/htmx.org@2.0.4" integrity="sha384-HGfztofotfshcF7+8n44JQL2oJmowVChPTg48S+jvZoztPfvwD79OC/LTtG6dMp+" crossorigin="anonymous"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Amiri:ital,wght@0,400;0,700;1,400;1,700&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Cairo+Play:wght@200..1000&family=Rubik:ital,wght@0,300..900;1,300..900&family=Vazirmatn:wght@100..900&display=swap"
      rel="stylesheet"
    />

    <!-- Base stylesheet that's always included -->
    <link rel="stylesheet" href="{% static 'styles.css' %}" />
    <!-- Custom stylesheet block that child templates can override -->
    {% block custom_stylesheets %}{% endblock %}

    <script src="{% static 'app.js' %}" type="module" defer></script>
    <script src="http://127.0.0.1:8000/__reload__/reload.js"></script>

    <title>{% block page_title %} {% endblock %}</title>
  </head>

  <body>
    {% block content %} {% endblock %}
  </body>
</html>
