{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    {# Shared Font Resources #}
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Amiri:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Cairo+Play:wght@200..1000&family=Rubik:ital,wght@0,300..900;1,300..900&family=Vazirmatn:wght@100..900&display=swap" rel="stylesheet" />

    <script src="https://unpkg.com/htmx.org@2.0.4"></script>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.12.23/dist/full.min.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
      .font-arabic { font-family: "Amiri", serif; }
    </style>

    
    {# App-specific resources #}
    <link rel="stylesheet" href="{% static 'diacriticizer/css/styles.css' %}" />
    {% block custom_stylesheets %}{% endblock %}
    
    <script src="{% static 'diacriticizer/js/app.js' %}" type="module" defer></script>
    
    <title>{% block page_title %}Arabic Diacritization{% endblock %}</title>
  </head>
  <body class="bg-gray-50">
    {% include 'diacriticizer/partials/_navbar.html' %}
    {% block content %}{% endblock %}
  </body>
</html>
